body {
	max-width: 700px;
	margin: 0 auto;
	padding: 16px;
}

h1 {
	font-size: 50px;
	font-weight: lighter;
	margin: 0.5em 0;
}

h1.title {
	font-size: 80px;
	font-weight: 200;
	margin: 0;
}

.nav a {
	display: inline-block;
	text-decoration: none;
	color: #895cd4;
}

.right {
	float: right;
}

.nav a.right {
	margin-left: 1em;
}

p.subtitle {
	color: #767676;
	font-weight: normal;
	margin: 0 0 50px;
}

.quotebox {
	padding-top: 40px;
	padding-bottom: 40px;
}

.quotebox p.quote {
	font-weight: 200;
	font-size: 35px;
	margin: 0;
	font-style: italic;
}

.quotebox p.source {
	text-align: right;
	font-size: 30px;
	margin: 0;
}

.centertext {
	text-align: center;
}

html, body, h1, h2, h3, p {
	font-family: 'Source Sans Pro', sans-serif;
}

h2 {
	font-weight: normal;
}

.infocontainer div{
	padding: 0 16px;
}

.infocontainer h2 {
	text-align: center;
}

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
.js-video.widescreen {
  padding-bottom: 57.25%;
}
 
.js-video-vimeo {
  padding-top: 0;
  padding-bottom: 55.6%;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

a.rounded-link {
	display: inline-block;
	border:0.2em solid #000;
	width: -moz-calc(100% - 0.4em);
	width: -webkit-calc(100% - 0.4em);
	width: -o-calc(100% - 0.4em);
	width: calc(100% - 0.4em);   
	color: #000;
	border-radius: 21.666%;
	text-decoration: none;
	line-height: -moz-calc(100% - 0.4em);
	line-height: -webkit-calc(100% - 0.4em);
	line-height: -o-calc(100% - 0.4em);
	line-height: calc(100% - 0.4em);
}

a.rounded-link:hover {
	border:0.2em solid #000;
	background-color: #000;
	color: #fff;
}

img.rounded {
	border-radius: 21.666%;
	-webkit-box-shadow: 4px 4px 20px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    4px 4px 20px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         4px 4px 20px 0px rgba(50, 50, 50, 0.2);
}